*{
    background-color: antiquewhite;
    font-family: fantasy;
    margin-left: 10px;
}
.navbar {
    margin: 5px;
}
.link {
      padding: 5px;
}
h1{
    text-decoration: underline;
    border: 1px solid gray;
    width:fit-content ;
    border-radius: 5px;
}
.artist-card{
    padding-left: 5px;
    border: 1px solid black;
    border-radius: 7px;
    width: fit-content;
    min-width: 300px;
    background-color: whitesmoke;
}
.card-text{
    background-color: whitesmoke;
}
h3{
    text-decoration: underline;
}

button{
    border-radius: 5px;
}
button:hover{
    background-color: gray;
    color: whitesmoke;
}